
        <div class = "progress_bar">
                <div class = "progress_section"  id = "sign_up_progress">
                    <div class = "section">
                        <% if progval1[0] == "1" %>
                            <div class = "section_box active" id = "userrdetailsbox">User Details</div>
                        <% else %>
                            <div class = "section_box" id = "insurancebox">User Details</div>
                        <% end %>
                        <div class = "connector"></div>
                    </div>
                    <div class = "section">
                        <% if progval1[1] == "1" %>
                            <div class = "section_box active" id = "insurancebox">Insurance</div>
                        <% else %>
                            <div class = "section_box" id = "insurancebox">Insurance</div>
                        <% end %>
                        <div class = "connector"></div>
                    </div>
                    <div class = "section">
                        <% if progval1[2] == "1" %>
                            <div class = "section_box active" id = "healthbox">Health History</div>
                        <% else %>
                            <div class = "section_box" id = "healthbox">Health History</div>
                        <% end %>
                        <div class = "connector"></div>
                        
                    </div>
                    <div class = "section">
                        <% if progval1[3] == "1" %>
                            <div class = "section_box active" id = "consentbox">Consent</div>
                        <% else %>
                            <div class = "section_box" id = "consentbox">Consent</div>
                        <% end %>
                        
                    </div>
                    <div class = "section">
                        <% if progval1[3] == "1" %>
                            <div class = "section_box active" id = "demogrpahicbox">Demographics</div>
                        <% else %>
                            <div class = "section_box" id = "consentbox">Demographics</div>
                        <% end %>
                        <div class = "connector"></div>
                        
                    </div>
                    <!-- Review Progress
                    <div class = "section">
                        <% if progval1[4] == "1" %>
                            <div class = "section_box active" id = "reviewbox">Review</div>
                        <% else %>
                            <div class = "section_box" id = "reviewbox">Review</div>
                        <% end %>
                    </div>
                    -->
                </div>            
        </div>




