<html>
    <head>
        <link rel = "stylesheet" href = "kiosk_personal.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
            <section class = "formsection" id = "formsection">
                <div class = "titlediv" id = "titlediv">
                   
                </div>  
                 
                
                <div class = "rowinput">
                    <div class = "fieldname alias">
                        <h3>Name *</h3>
                        <input type = "text" id = "fname" placeholder="First" id = "fname" />   
                    </div>
                    <div class = "fieldname">
                        <input type = "text" id = "lname" placeholder="Last" id = "lname" />
                    </div>
                </div>  
                <div class = "rowinput">
                    <div class = "fieldname alias">
                        <h3>Street *</h3>
                        <input type = "text" id = "street" placeholder="Street" />
                    </div>
                </div>
                <div class = "rowinput">
                    <div class = "fieldname alias">
                        <h3>City *</h3>
                        <input type = "text" id = "city" placeholder="City" />
                    </div>
                    <div class = "fieldname alias">
                        <h3>State *</h3>
                        <input type = "text" id = "state" placeholder="State" />
                    </div>
                    <div class = "fieldname alias">
                        <h3>Zip *</h3>
                        <input type = "text" id = "zip" placeholder="Zip" />
                    </div>
                </div> 
                
                <div class = "rowinput">
                    <div class = "fieldname alias">
                        <h3>DOB *</h3>
                        
                        <input type = "text" id = "dob" placeholder="DOB" />
                    </div>
                    <div class = "fieldname alias">
                        <h3>Phone *</h3>
                        
                        <input type = "text" id = "phone" placeholder="Phone" />
                    </div>
                </div>     
            </section>
        
        <script src = "kiosk_personal.js" type = "text/javascript"></script>
    </body>
</html>





