<html>
    <head>
        <meta name = "viewport" content = "width=device-width,initial-scale=1" />
        <%= stylesheet_link_tag "userconsent.css" %>
        <%= stylesheet_link_tag "progressbar.css" %>
    </head>
    <body>
        <div class = "form">
            <div class = "formtitle">Patient Consent
            <select>
                        <option value="none">Select a Page</option>
                        <option value="Patient Health"><a href = "/userhealth">Patient Info</a></option>
                        <option value="Patient Health"><a href = "/userinsurance">Patient Insurance</a></option>
                        <option value="Patient Health">Patient Health</option>
                        <option value="Patient Health"><a href = "/consent">Patient Consent</a></option>
                    </select>
            </div>
            <section class = "progressbar_main">
                <%= render partial: "kioskpages/progressbar", :locals => {:progval1 => "11110"} %>
            </section>
            <div class = "formbox">
                <iframe src="hangperson.pdf" frameborder="0"></iframe>
            </div>
            <div class = "acceptnote"><p>Please accept the above agreement regarding out treatment policies</p></div>
            <div class = "radiobtn">
                <input type="radio" value = "Agree" id = "agree">Agree
                <input type="radio" value = "Disagree" id = "disagree">Disagree
            </div>
            <div class = "submitbtn">
                <button id = "backbtn">Back</button>
                <button id = "submitbtn">Finish</button>
            </div>
        </div>
        
        
        
        <%= javascript_pack_tag "userconsent.js" %>
        
    </body>
</html>



