<html>
    <head>
        <meta name = "viewport" content = "width=device-width,initial-scale=1" />
        <%= stylesheet_link_tag "userconsent.css" %>
        <%= stylesheet_link_tag "progressbar.css" %>
    </head>
    <body>
        <div class = "form">
            <div class = "formmain">Patient Demographics
                    <select onChange="window.location.href=this.value">
                        <option value="none">Select a Page</option>
                        <option value="/userdetails">Patient Info</option>
                        <option value="/userinsurance">Patient Insurance</option>
                        <option value="/userhealth">Patient Health</option>
                        <option value="/userconsent">Patient Consent</option>
                        <option value="/userdemographics">Patient Demographics</option>
                    </select>
            </div>
            <section class = "progressbar_main">
                <%= render partial: "kioskpages/progressbar", :locals => {:progval1 => "11111"} %>
            </section>

            <div class = "rowinput">
                    <div class = "fieldname alias">
                        <h3>DOB *</h3>
                        <input type = "date" id = "dob" placeholder="DOB ','" id = "fname" />   
                    </div>
                    <div class = "fieldname alias">
                        <h3>Gender *</h3>
                        <input type = "text" id = "gender" placeholder="M or F" />
                    </div>
                    <div class = "fieldname alias">
                        <h3>Marital Status *</h3>
                        <input type = "text" id = "marital" placeholder="Single or Married" />
                    </div>
                    
            </div>
            
            
        </div>
        
        
        
        <%= javascript_pack_tag "userconsent.js" %>
        
    </body>
</html>



