<html>
    <head>
        <link rel = "stylesheet" href = "userhealth.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
            <section class = "formsection" id = "formsection">
                <div class = "titlediv" id = "titlediv">
                   
                </div>  
                 
                
                <div class = "rowinput">
                    <div class = "fieldname alias">
                        <h3>Medications</h3>
                        <input type = "text" id = "medic" placeholder="Medications: Separate with a ','"  />   
                    </div>
                    
                </div>

                <div class = "check">
                    <div class = "checkbox">
                        <div class = "checkboxentry"><label id = "firstentry">Select all Relevant Illnesses</label></div>
                        <div class = "checkboxlist">
                            <div class = "checkboxentry"><input type="checkbox" id = "asth"><label>Asthma</label></div>
                            <div class = "checkboxentry"><input type="checkbox" id = "canc"><label>Cancer</label></div>
                            <div class = "checkboxentry"><input type="checkbox" id = "diab"><label>Diabetes</label></div>
                            <div class = "checkboxentry"><input type="checkbox" id = "hd"><label>Heart Disease</label></div>
                            <div class = "checkboxentry"><input type="checkbox" id = "hblood"><label>High Blood Pressure</label></div>
                            <div class = "checkboxentry"><input type="checkbox" id = "highc"><label>High Cholesterol</label></div>
                            <div class = "checkboxentry"><input type="checkbox" id = "stroke"><label>Stroke</label></div>
                        </div>
                    </div>
                </div>
                <div class = "rowinput expand">
                    <div class = "fieldname alias">
                        <h3>Surgery Information</h3>
                        <textarea id = "surgtext"></textarea>
                    </div>
                    
                </div>

                <div class = "rowinput expand">
                    <div class = "fieldname alias">
                        <h3>Family Medical History</h3>
                        <textarea id = "famtext"></textarea>
                    </div>
                    
                </div>
                
                <div class = "rowinput">
                    <div class = "fieldname alias">
                        <h3>Tetanus</h3>
                        <input type = "date" id = "teta" placeholder="Medications: Enter a valid date" id = "fname" />   
                    </div>
                    <div class = "fieldname alias">
                        <h3>Flu</h3>
                        <input type = "date" id = "flu" placeholder="Medications: Separate with a ','" id = "fname" />   
                    </div>
                    
                    
                </div>
                <div class = "rowinput">
                    
                    <div class = "fieldname alias">
                        <h3>Zoster</h3>
                        <input type = "date" id = "zost" placeholder="Medications: Separate with a ','" id = "fname" />   
                    </div>
                    <div class = "fieldname alias">
                        <h3>Pneumovax</h3>
                        <input type = "date" id = "pneu" placeholder="Medications: Separate with a ','" id = "fname" />   
                    </div>
                    <div class = "fieldname alias">
                        <h3>Prevnar</h3>
                        <input type = "date" id = "prevna" placeholder="Medications: Separate with a ','" id = "fname" />   
                    </div>
                    
                </div>
                
                    <div class = "submit">
                        <div><button class = "submitbtn" id = "backbtn">Back</button></div>
                        <div><button class = "submitbtn" id = "nextbtn">Next</button></div>
                        
                        
                    </div>
                    
                    
                    

                
                
            </section>
        
        <script src = "userhealth.js" type = "text/javascript"></script>
    </body>
</html>





