<p id="notice"><%= notice %></p>

<p>
  <strong>Relation:</strong>
  <%= @healthinsurance.relation %>
</p>

<%= link_to 'Edit', edit_healthinsurance_path(@healthinsurance) %> |
<%= link_to 'Back', healthinsurance_path %>
