<html>
    <head>
        <link rel = "stylesheet" href = "kiosk_signup.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = "mainpage" id = "mainpage">
            <section class = "imageheader" id = "imageheader">
                <img src = "" alt = "Image Background" />
            </section>
            <section class = "formsection" id = "formsection">
                <div class = "titlediv" id = "titlediv">
                    <h1>Patient Intake Kiosk</h1>
                </div>
                <div class = "patdetails" id = "patdetails">
                    <div class = "sectionheader" id = "patdetailshead">
                        <h2>Patient Details</h3>
                    </div>
                    <div class = "forminputs">
                        <div class = "rowinput">
                            <div class = "fieldname">
                                <div class = "fieldheader">
                                    <h3>Email *</h3>
                                </div>
                                
                                <div class = "inputfields">
                                    <input type = "text" id = "email" placeholder="Email" />
                                </div>
                            </div>
                            <div class = "fieldname">
                                <div class = "fieldheader">
                                    <h3>Password *</h3>
                                </div>
                                
                                <div class = "inputfields">
                                    <input type = "text" id = "pass" placeholder="Password" />
                                </div>
                            </div>
                        </div>
                    
                        <div class = "fieldname">
                            <div class = "fieldheader">
                                <h3>Name *</h3>
                            </div>
                            <div class = "inputfields">
                                <div>
                                    <input type = "text" id = "fname" placeholder="First" id = "fname" />
                                </div>
                                <div>
                                    <input type = "text" id = "lname" placeholder="Last" id = "lname" />
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class = "fieldname">
                            <div class = "fieldheader">
                                <h3>Street *</h3>
                            </div>
                            
                            <div class = "inputfields">
                                <input type = "text" id = "street" placeholder="Street" />
                            </div>
                        </div>

                        <div class = "rowinput">
                            <div class = "fieldname">
                                <div class = "fieldheader">
                                    <h3>City *</h3>
                                </div>
                                
                                <div class = "inputfields">
                                    <input type = "text" id = "city" placeholder="City" />
                                </div>
                            </div>
                            <div class = "fieldname">
                                <div class = "fieldheader">
                                    <h3>State *</h3>
                                </div>
                                
                                <div class = "inputfields">
                                    <input type = "text" id = "state" placeholder="State" />
                                </div>
                            </div>
                            <div class = "fieldname">
                                <div class = "fieldheader">
                                    <h3>Zip *</h3>
                                </div>
                                
                                <div class = "inputfields">
                                    <input type = "text" id = "zip" placeholder="Zip" />
                                </div>
                            </div>
                        </div>
                        <div class = "rowinput">
                            <div class = "fieldname">
                                <div class = "fieldheader">
                                    <h3>DOB *</h3>
                                </div>
                                
                                <div class = "inputfields">
                                    <input type = "text" id = "dob" placeholder="DOB" />
                                </div>
                            </div>
                            <div class = "fieldname">
                                <div class = "fieldheader">
                                    <h3>Phone *</h3>
                                </div>
                                
                                <div class = "inputfields">
                                    <input type = "text" id = "phone" placeholder="Phone" />
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class = "submitdiv">
                        <button id = "submitbtn">Submit</button>
                    </div>
                    
                    
                </div>
                
            </section>
        </div>
        <script src = "kiosk_signup.js" type = "text/javascript"></script>
    </body>
</html>





