:root{
    --fontfam:sans-serif;
    --margin-horiz-main: 3rem;
    --margin-vert-main: 3rem;
    --fontsize1:1.5rem;
    --fontsize2:1rem;
    --header-color: gray;
    
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;    
}

header{
    width: 100%;
    height: 10%;
    padding: .5rem 1rem;
    background-color: var(--header-color);
}

