:root{
    font-family: sans-serif;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 3vh;
}

body{
    
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
   
}

.insurance{
    width: 100%;
    height: 100%;
}


.formsection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.titlediv{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    
    
}

.titlediv::before{
    content: 'Patient Insurance';
    width: 100%;
    height: fit-content;
    color: white;
    font-size: 2rem;
    font-family: var(--font-fam);
    padding-left: .5rem;
    
}

.fieldname{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    
}

.fieldname.alias{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.fieldname h3{
    height: 40%;
    display: flex;

    align-items: center;
}

.fieldname input{
        height: 60%;
}

input[type="text"]{
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    padding-left:5px;
    width: 100%;
}

.rowinput{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:1rem;
    width: 100%;
    height: 17.5%;
    
   
    padding: 0 .5rem;
    
}



.submitbtn{
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
}

.submitbtn button{
    position: relative;
    height: 70%;
    width: 5rem;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: gray;
    box-shadow: 0px 0px 1px 1px;
    font-size: 2.5vh;
}